@import 'css-only-checkbox.variables';

.sw-checkbox {
  position: relative;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  label {
    align-items: $check-box-label-vertical-align;
    cursor: pointer;
    display: inline-flex;
    height: $check-box-height;
    padding-left: ($check-box-width + $check-box-label-left-padding);
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background: $check-box-background-color;
      border: $check-box-border-width solid $check-box-border-color;
      border-radius: $check-box-border-radius-value;
      box-shadow: $check-box-box-shadow;
      display: inline-block;
      height: $check-box-height;
      left: 0;
      top: 0;
      transition: background 1s cubic-bezier(.45, 2, .5, .75);
      width: $check-box-width;
    }

    &::after {
      border-bottom: $check-box-border-width solid $check-box-tick-color;
      border-left: $check-box-border-width solid $check-box-tick-color;
      height: ($check-box-height / 4);
      left: ($check-box-width / 4);
      top: (($check-box-height / 4) + $check-box-border-width);
      transform: rotate(-45deg) scale(0, 0);
      transition: transform .2s cubic-bezier(.45, 2, .5, .75);
      width: ($check-box-width / 2);
    }
  }

  input {
    &[type='checkbox'] {
      height: $check-box-height;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: $check-box-width;

      &:checked {
        + label {
          &::before {
            background: $check-box-selected-background-color;
            border-color: $check-box-selected-border-color;
            transition: background .2s cubic-bezier(.45, 2, .5, .75);
          }

          &::after {
            transform: rotate(-45deg) scale(1, 1);
            transition: transform .4s cubic-bezier(.45, 2, .5, .75);
          }
        }
      }
    }
  }

  &.box {
    label {
      &::before {
        transition: background .2s cubic-bezier(.45, 2, .5, .75);
      }

      &::after {
        background: $check-box-selected-background-color;
        border: 0;
        height: ($check-box-height / 1.5);
        left: ($check-box-width / 6);
        top: ($check-box-height / 5.5);
        transform: scale(0, 0);
        transition: transform .2s cubic-bezier(.45, 2, .5, .75);
        width: ($check-box-height / 1.5);
      }
    }

    input {
      &[type='checkbox'] {
        &:checked {
          + label {
            &::before {
              background: $check-box-box-background;
              border: $check-box-border-width solid $check-box-box-border-color;
              transition: background .2s cubic-bezier(.45, 2, .5, .75);
            }

            &::after {
              transform: scale(1, 1);
              transition: transform .2s cubic-bezier(.45, 2, .5, .75);
            }
          }
        }
      }
    }
  }
}
